<div class="footer-container">    
    <div class="footer-top">
        <div class="footer-top1">
            <div class="logo">
            <a href="index.html">
                <img src="/src/images/logo.png" alt="Recipitator Logo" class="logo-image">
                <span>Recipitator</span>
            </a>
        </div>
        </div>
        <div class="footer-top2">
            <p>Recipitator is the revolutionary recipe generator. Input your ingredients and preferences, and our recipe generator will craft unique recipes on demand. Explore innovative culinary creations and elevate your meal plans with recipitator.</p>
            <a href="../src/recipe-display/recipes.html">Explore Recipes</a>
        </div>
    </div>
    <div class="footer-bottom"><p>Copyright © Recipitator 2026 | Richard Edigin</p></div>
</div>