
<div class="header-container">
    <nav class="nav">        
        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <img src="/src/images/logo.png" alt="Recipitator Logo" class="logo-image">
            </a>
            <span>Recipitator</span>
        </div>
        <!-- navigation links -->
         <div class="nav-links">
            <a href="/src/recipe-display/recipes.html" class="silent-links">recipes</a>
            <a href="/src/recipe-display/favorites.html" class="silent-links">Favorites</a>
         </div>

        <!-- Hamburger Menu -->
        <button id="menuBtn" class="hamburger" aria-label="Open menu">☰</button>
    
    </nav>
</div>
